In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\newDataLoan.csv")
data.head()

,Gender,V 1. Age,V 2. Occupation (Government Employee with salary slip & ITR of last three years),V 3. Occupation (Private employee Employee with salary slip & ITR of last three years),V 4. Occupation (Business with IT return of last three years),V 10. Ownership Status of House (Owned/Rented),V 11. Previous history of loan from other banks,V 13. Default status,V 14. Minimum Net Monthly Income,V 15. Credit Score (CIBIL Score),...,V 28. Shopping Bills/Amount,V 31. Food Delivery Services Frequency & Amount,V 32. No. of Friends & Followers on Facebook/Instagram/Twitter and other social media Platforms.,V 33. Posts/Photographs of Places visited,V 34. Posts/Photographs of Hotels Visited,V 37. Intelligence,V 38. Honesty,V 39. Character Certificate,V 40. Health Condition,V 41. Health Insurance
0,1,2,1,0,0,1,1,1,1,2,...,3,1,1,1,1,4,4,3,4,5
1,1,4,1,0,0,2,1,0,2,1,...,3,3,1,1,1,1,1,1,1,1
2,2,3,1,0,0,1,1,0,3,1,...,5,3,1,2,2,5,5,3,4,4
3,1,2,0,1,0,2,0,0,3,1,...,5,3,1,3,3,5,5,3,2,4
4,1,2,0,1,0,1,1,0,2,1,...,4,4,3,5,5,5,5,5,5,5

In [3]:
# # headings = data.columns
# data.rename(columns = {'V 3. Occupation (Private employee Employee with salary slip & ITR of last three years)':'Head1'},inplace =True)
data.columns

Index(['Gender', 'V 1. Age',
       'V 2. Occupation (Government Employee with salary slip & ITR of last three years)',
       'V 3. Occupation (Private employee Employee with salary slip & ITR of last three years)',
       'V 4. Occupation (Business with IT return of last three years)',
       'V 10. Ownership Status of House (Owned/Rented)',
       'V 11. Previous history of loan from other banks',
       'V 13. Default status', 'V 14. Minimum Net Monthly Income',
       'V 15. Credit Score (CIBIL Score)', 'V 16. Collaterals/guarantee',
       'V 18. Guarantorï¿½s Documents (Personal details, PAN/AADHAR Card, Employment details.)',
       'V 20. Value of the Property/assets owned ', 'V 21. Credit Card',
       'V 22. Saving Pattern of the borrower (NSE/LIC/Bond/Share and other investments)',
       'V 24. Gold Ornaments of the borrower',
       'V 25. Mobile Nos. of blood relatives of borrower.',
       'V 26. Electricity Bill/Gas Bill/House tax/ Water tax, other Online paid bills etc)',
       'V 27. E-commerce Transaction Frequency & Amount',
       'V 28. Shopping Bills/Amount',
       'V 31. Food Delivery Services Frequency & Amount',
       'V 32. No. of  Friends & Followers on Facebook/Instagram/Twitter and other social media Platforms.',
       'V 33. Posts/Photographs of Places visited',
       'V 34. Posts/Photographs of Hotels Visited', 'V 37. Intelligence',
       'V 38. Honesty', 'V 39. Character Certificate',
       'V 40. Health Condition', 'V 41. Health Insurance'],
      dtype='object')

In [4]:
data.drop(['Gender','V 1. Age'],axis=1,inplace=True)

In [5]:
h1 = data['V 2. Occupation (Government Employee with salary slip & ITR of last three years)']
# h= h1.unique()
h11= pd.DataFrame(h1)
# type(h1)
# h11

def head1(k):
    if k == 1:
        return 50
    else:
        return 0
    

    
h1=h1.apply(head1)

In [6]:
h2 = data['V 3. Occupation (Private employee Employee with salary slip & ITR of last three years)']
# h= h1.unique()
h12= pd.DataFrame(h2)
type(h2)
# h11

def head2(k):
    if k == 1:
        return 20
    else:
        return 0
    

    
h2=h2.apply(head2)

In [7]:
h3 = data['V 4. Occupation (Business with IT return of last three years)']
h13= pd.DataFrame(h3)


def head3(k):
    if k == 1:
        return 20
    else:
        return 0
    
h3=h3.apply(head3)

In [8]:
h4 = data['V 10. Ownership Status of House (Owned/Rented)']
h14= pd.DataFrame(h4)


def head4(k):
    if k == 1:
        return 10
    else:
        return 0
    
h4=h4.apply(head4)

In [9]:
h5 = data['V 11. Previous history of loan from other banks']
h15= pd.DataFrame(h5)


def head5(k):
    if k == 1:
        return 10
    if k == 0:
        return 0
    
h5=h5.apply(head5)

In [10]:
h6 = data['V 13. Default status']
h16= pd.DataFrame(h6)


def head6(k):
    if k == 0:
        return 0
    if k == 1:
        return -20
    if k == 2:
        return -50
    
h6=h6.apply(head6)

In [11]:
h7 = data['V 14. Minimum Net Monthly Income']
h17= pd.DataFrame(h7)


def head7(k):
    if k == 1:
        return 10
    if k == 2:
        return 15
    if k == 3:
        return 20
    
h7=h7.apply(head7)

In [12]:

h8 = data['V 15. Credit Score (CIBIL Score)']
h18 = pd.DataFrame(h8)



def head8(k):
    if k == 1:
        return 10
    if k == 2:
        return -10
    

    
h8=h8.apply(head8)

In [13]:
h9 = data['V 16. Collaterals/guarantee']
h19 = pd.DataFrame(h9)
def head9(k):
    if k == 1:
        return 20
    if k == 2:
        return 10
    if k == 3:
        
        return -5
    

    
h9=h9.apply(head9)

In [14]:
h10 = data['V 18. Guarantorï¿½s Documents (Personal details, PAN/AADHAR Card, Employment details.)']
h110 = pd.DataFrame(h10)
def head10(k):
    if k == 1:
        return 10
    if k == 0:
        return -10
    

    
h10=h10.apply(head10)

In [15]:
h11 = data['V 20. Value of the Property/assets owned ']
h111 = pd.DataFrame(h11)
def head11(k):
    if k == 1:
        return 20
    if k == 0:
        return 10

h11=h11.apply(head11)

In [16]:
h12 = data['V 21. Credit Card']
h112= pd.DataFrame(h12)


def head12(k):
    if k == 1:
        return 10
    if k == 0:
        return -10
    
    
h12=h12.apply(head12)

In [17]:
h13 = data['V 22. Saving Pattern of the borrower (NSE/LIC/Bond/Share and other investments)']
h213= pd.DataFrame(h13)


def head13(k):
    if k == 1:
        return 5
    if k == 0:
        return 0
    
    
h13=h13.apply(head13)

In [18]:
h14 = data['V 24. Gold Ornaments of the borrower']
h214= pd.DataFrame(h14)


def head14(k):
    if k == 1:
        return 5
    if k == 0:
        return 0
    
    
h14=h14.apply(head14)

In [19]:
h15 = data['V 25. Mobile Nos. of blood relatives of borrower.']
h215= pd.DataFrame(h15)


def head15(k):
    if k == 1:
        return 2
    if k == 0:
        return 0
    
    
h15=h15.apply(head15)

In [20]:
h16 = data['V 26. Electricity Bill/Gas Bill/House tax/ Water tax, other Online paid bills etc)']
h216= pd.DataFrame(h16)


def head16(k):
    if k == 1:
        return 3
    if k == 0:
        return 0
    
    
h16=h16.apply(head16)

In [21]:
h17 = data['V 27. E-commerce Transaction Frequency & Amount']
# h217= pd.DataFrame(h17)


def head17(k):
    if k == 5:
        return 3
    else:
        return 0
    
    
h17=h17.apply(head17)

In [22]:
h18 = data['V 28. Shopping Bills/Amount']
h218= pd.DataFrame(h18)


def head18(k):
    if k == 1:
        return 3
    else:
        return 0
    
    
h18=h18.apply(head18)

In [23]:
h19 = data['V 31. Food Delivery Services Frequency & Amount']
h219= pd.DataFrame(h19)


def head19(k):
    if k == 5:
        return 3
    else:
        return 0
    
    
h19=h19.apply(head19)

In [24]:
h20 = data['V 32. No. of  Friends & Followers on Facebook/Instagram/Twitter and other social media Platforms.']
h222= pd.DataFrame(h20)


def head20(k):
    if k == 1:
        return 5
    else:
        return 0
    
    
h20=h20.apply(head20)

In [25]:
h21 = data['V 33. Posts/Photographs of Places visited']
h221= pd.DataFrame(h21)


def head21(k):
    if k == 5:
        return 3
    else:
        return 0
    
    
h21=h21.apply(head21)

In [26]:
h22 = data['V 34. Posts/Photographs of Hotels Visited']
h222= pd.DataFrame(h22)


def head22(k):
    if k == 5:
        return 3
    else:
        return 0
    
    
h22=h22.apply(head22)

In [27]:
h23 = data['V 37. Intelligence']
h223= pd.DataFrame(h23)


def head23(k):
    if k == 5:
        return 3
    else:
        return 0
    
    
h23=h23.apply(head23)

In [28]:
h24 = data['V 38. Honesty']
h224= pd.DataFrame(h24)


def head24(k):
    if k == 5:
        return 3
    else:
        return 0
    
    
h24=h24.apply(head24)

In [29]:
h25 = data['V 39. Character Certificate']
h225= pd.DataFrame(h25)


def head25(k):
    if k == 5:
        return 3
    else:
        return 0
    
    
h25=h25.apply(head25)

In [30]:
h26 = data['V 40. Health Condition']
h226= pd.DataFrame(h26)


def head26(k):
    if k == 5:
        return 3
    else:
        return 0
    
    
h26=h26.apply(head26)

In [31]:
h27 = data['V 41. Health Insurance']
h227= pd.DataFrame(h27)


def head27(k):
    if k == 5:
        return 3
    else:
        return 0
    
    
h27=h27.apply(head27)

In [32]:
data = pd.concat([data, h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h22,h23,h24,h25,h26,h27],axis=1)
data.head()

,V 2. Occupation (Government Employee with salary slip & ITR of last three years),V 3. Occupation (Private employee Employee with salary slip & ITR of last three years),V 4. Occupation (Business with IT return of last three years),V 10. Ownership Status of House (Owned/Rented),V 11. Previous history of loan from other banks,V 13. Default status,V 14. Minimum Net Monthly Income,V 15. Credit Score (CIBIL Score),V 16. Collaterals/guarantee,"V 18. Guarantorï¿½s Documents (Personal details, PAN/AADHAR Card, Employment details.)",...,"V 26. Electricity Bill/Gas Bill/House tax/ Water tax, other Online paid bills etc)",V 27. E-commerce Transaction Frequency & Amount,V 28. Shopping Bills/Amount,V 31. Food Delivery Services Frequency & Amount,V 34. Posts/Photographs of Hotels Visited,V 37. Intelligence,V 38. Honesty,V 39. Character Certificate,V 40. Health Condition,V 41. Health Insurance
0,1,0,0,1,1,1,1,2,2,1,...,3,0,0,0,0,0,0,0,0,3
1,1,0,0,2,1,0,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,1,0,3,1,1,1,...,0,3,0,0,0,3,3,0,0,0
3,0,1,0,2,0,0,3,1,1,0,...,3,3,0,0,0,3,3,0,0,0
4,0,1,0,1,1,0,2,1,1,1,...,0,0,0,0,3,3,3,3,3,3

In [33]:
data.columns

Index(['V 2. Occupation (Government Employee with salary slip & ITR of last three years)',
       'V 3. Occupation (Private employee Employee with salary slip & ITR of last three years)',
       'V 4. Occupation (Business with IT return of last three years)',
       'V 10. Ownership Status of House (Owned/Rented)',
       'V 11. Previous history of loan from other banks',
       'V 13. Default status', 'V 14. Minimum Net Monthly Income',
       'V 15. Credit Score (CIBIL Score)', 'V 16. Collaterals/guarantee',
       'V 18. Guarantorï¿½s Documents (Personal details, PAN/AADHAR Card, Employment details.)',
       'V 20. Value of the Property/assets owned ', 'V 21. Credit Card',
       'V 22. Saving Pattern of the borrower (NSE/LIC/Bond/Share and other investments)',
       'V 24. Gold Ornaments of the borrower',
       'V 25. Mobile Nos. of blood relatives of borrower.',
       'V 26. Electricity Bill/Gas Bill/House tax/ Water tax, other Online paid bills etc)',
       'V 27. E-commerce Transaction Frequency & Amount',
       'V 28. Shopping Bills/Amount',
       'V 31. Food Delivery Services Frequency & Amount',
       'V 32. No. of  Friends & Followers on Facebook/Instagram/Twitter and other social media Platforms.',
       'V 33. Posts/Photographs of Places visited',
       'V 34. Posts/Photographs of Hotels Visited', 'V 37. Intelligence',
       'V 38. Honesty', 'V 39. Character Certificate',
       'V 40. Health Condition', 'V 41. Health Insurance',
       'V 2. Occupation (Government Employee with salary slip & ITR of last three years)',
       'V 3. Occupation (Private employee Employee with salary slip & ITR of last three years)',
       'V 4. Occupation (Business with IT return of last three years)',
       'V 10. Ownership Status of House (Owned/Rented)',
       'V 11. Previous history of loan from other banks',
       'V 13. Default status', 'V 14. Minimum Net Monthly Income',
       'V 15. Credit Score (CIBIL Score)', 'V 16. Collaterals/guarantee',
       'V 18. Guarantorï¿½s Documents (Personal details, PAN/AADHAR Card, Employment details.)',
       'V 20. Value of the Property/assets owned ', 'V 21. Credit Card',
       'V 22. Saving Pattern of the borrower (NSE/LIC/Bond/Share and other investments)',
       'V 24. Gold Ornaments of the borrower',
       'V 25. Mobile Nos. of blood relatives of borrower.',
       'V 26. Electricity Bill/Gas Bill/House tax/ Water tax, other Online paid bills etc)',
       'V 27. E-commerce Transaction Frequency & Amount',
       'V 28. Shopping Bills/Amount',
       'V 31. Food Delivery Services Frequency & Amount',
       'V 34. Posts/Photographs of Hotels Visited', 'V 37. Intelligence',
       'V 38. Honesty', 'V 39. Character Certificate',
       'V 40. Health Condition', 'V 41. Health Insurance'],
      dtype='object')

In [34]:
newdata = data.iloc[:,27:]
newdata.head()

,V 2. Occupation (Government Employee with salary slip & ITR of last three years),V 3. Occupation (Private employee Employee with salary slip & ITR of last three years),V 4. Occupation (Business with IT return of last three years),V 10. Ownership Status of House (Owned/Rented),V 11. Previous history of loan from other banks,V 13. Default status,V 14. Minimum Net Monthly Income,V 15. Credit Score (CIBIL Score),V 16. Collaterals/guarantee,"V 18. Guarantorï¿½s Documents (Personal details, PAN/AADHAR Card, Employment details.)",...,"V 26. Electricity Bill/Gas Bill/House tax/ Water tax, other Online paid bills etc)",V 27. E-commerce Transaction Frequency & Amount,V 28. Shopping Bills/Amount,V 31. Food Delivery Services Frequency & Amount,V 34. Posts/Photographs of Hotels Visited,V 37. Intelligence,V 38. Honesty,V 39. Character Certificate,V 40. Health Condition,V 41. Health Insurance
0,50,0,0,10,10,-20,10,-10,10,10,...,3,0,0,0,0,0,0,0,0,3
1,50,0,0,0,10,0,15,10,20,10,...,0,0,0,0,0,0,0,0,0,0
2,50,0,0,10,10,0,20,10,20,10,...,0,3,0,0,0,3,3,0,0,0
3,0,20,0,0,0,0,20,10,20,-10,...,3,3,0,0,0,3,3,0,0,0
4,0,20,0,10,10,0,15,10,20,10,...,0,0,0,0,3,3,3,3,3,3

In [35]:
list_data=newdata.columns

In [36]:
newdata.isnull().sum()

V 2. Occupation (Government Employee with salary slip & ITR of last three years)          0
V 3. Occupation (Private employee Employee with salary slip & ITR of last three years)    0
V 4. Occupation (Business with IT return of last three years)                             0
V 10. Ownership Status of House (Owned/Rented)                                            0
V 11. Previous history of loan from other banks                                           0
V 13. Default status                                                                      0
V 14. Minimum Net Monthly Income                                                          0
V 15. Credit Score (CIBIL Score)                                                          0
V 16. Collaterals/guarantee                                                               0
V 18. Guarantorï¿½s Documents (Personal details, PAN/AADHAR Card, Employment details.)      0
V 20. Value of the Property/assets owned                                                  0
V 21. Credit Card                                                                         0
V 22. Saving Pattern of the borrower (NSE/LIC/Bond/Share and other investments)           0
V 24. Gold Ornaments of the borrower                                                      0
V 25. Mobile Nos. of blood relatives of borrower.                                         0
V 26. Electricity Bill/Gas Bill/House tax/ Water tax, other Online paid bills etc)        0
V 27. E-commerce Transaction Frequency & Amount                                           0
V 28. Shopping Bills/Amount                                                               0
V 31. Food Delivery Services Frequency & Amount                                           0
V 34. Posts/Photographs of Hotels Visited                                                 0
V 37. Intelligence                                                                        0
V 38. Honesty                                                                             0
V 39. Character Certificate                                                               0
V 40. Health Condition                                                                    0
V 41. Health Insurance                                                                    0
dtype: int64

In [44]:
new1 = newdata.iloc[:,0:12]
new2 = newdata.iloc[:,12:]
condition1 = new1.sum(axis=1)  # These values will be greater than 150
condition2 = new2.sum(axis=1)  # These values will be greater than 50
finalcondition = newdata.sum(axis=1)  # These values will be greater than 200

In [50]:
list(finalcondition)

[113,
 150,
 174,
 79,
 143,
 110,
 32,
 110,
 130,
 110,
 113,
 150,
 174,
 79,
 143,
 110,
 32,
 110,
 130,
 110,
 113,
 150,
 174,
 79,
 143,
 110,
 32,
 110,
 130,
 110,
 113,
 150,
 174,
 79,
 143,
 110,
 32,
 110,
 130,
 110,
 130,
 110,
 113,
 150,
 174,
 79,
 143,
 110,
 32,
 110,
 130,
 110]

In [54]:
loanPerson = []
for i in range(0,52):
    if finalcondition[i]>150:
        loanPerson.append(1)
    else:
        loanPerson.append(0)
print(loanPerson)

[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

In [57]:
x = newdata.iloc[:,:].values

y = loanPerson

array([[50,  0,  0, ...,  0,  0,  3],
       [50,  0,  0, ...,  0,  0,  0],
       [50,  0,  0, ...,  0,  0,  0],
       ...,
       [ 0,  0, 20, ...,  0,  0,  0],
       [ 0,  0, 20, ...,  0,  0,  0],
       [ 0,  0, 20, ...,  0,  0,  0]], dtype=int64)

In [58]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y)

In [59]:
from sklearn import tree

t= tree.DecisionTreeClassifier()

t.fit(x_train,y_train)

DecisionTreeClassifier()

In [63]:
pr=t.predict(x_test)
pr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [62]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,pr)*100,'%')

100.0 %