In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\aakash\\crypto-markets.csv")
data.head()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0,1500520000,0.5438,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0,1491160000,0.7813,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0,1597780000,0.3843,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0,1542820000,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0,1292190000,0.3881,33.32

In [3]:
data.isnull()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
659368,False,False,False,False,False,False,False,False,False,False,False,False,False
659369,False,False,False,False,False,False,False,False,False,False,False,False,False
659370,False,False,False,False,False,False,False,False,False,False,False,False,False
659371,False,False,False,False,False,False,False,False,False,False,False,False,False
659372,False,False,False,False,False,False,False,False,False,False,False,False,False

In [4]:
data.columns

Index(['slug', 'symbol', 'name', 'date', 'ranknow', 'open', 'high', 'low',
       'close', 'volume', 'market', 'close_ratio', 'spread'],
      dtype='object')

In [5]:
data.isnull().sum()

slug               0
symbol             0
name               0
date               0
ranknow            0
open               0
high               0
low                0
close              0
volume             0
market             0
close_ratio    14526
spread             0
dtype: int64

In [23]:
# data.dropna('close_ratio',inplace=True)
# type(data['close_ratio'])
del data['close_ratio']

In [24]:
data.head()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0,1500520000,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0,1491160000,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0,1597780000,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0,1542820000,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0,1292190000,33.32

In [25]:
data.isnull().sum()

slug       0
symbol     0
name       0
date       0
ranknow    0
open       0
high       0
low        0
close      0
volume     0
market     0
spread     0
dtype: int64